{edoc_opts, [{report_missing_types, true}, {source_path, ["src"]}, {report_missing_types, true}, {todo, true}, {packages, false}, {subpackages, false}]}.
{post_hooks, [{clean, "rm -f priv/jinterface-stdlib.jar"},
              {compile, "javac -g -verbose -deprecation -sourcepath java_src -classpath ./ebin:/usr/local/lib/erlang/lib/jinterface-1.5.8/priv/OtpErlang.jar -d ebin `find java_src -name *.java`"},
              {compile, "jar cf priv/jinterface-stdlib.jar -C ebin ."}]}.
{required_otp_version, "R16B"}. %% Because of the path to jinterface used two lines ago