{edoc_opts, [{report_missing_types, true}, {source_path, ["src"]}, {report_missing_types, true}, {todo, true}, {packages, false}, {subpackages, false}]}.
{pre_hooks, [{compile, "mkdir -p priv"},
             {compile, "cp `find /usr/local/lib/erlang/lib/ -name OtpErlang.jar | sort | tail -n1` priv/"}]}.
{post_hooks, [{clean, "rm -f priv/jinterface-stdlib.jar"},
              {compile, "javac -g -verbose -deprecation -sourcepath java_src -classpath ./priv/OtpErlang.jar -d ebin `find java_src -name *.java`"},
              {compile, "jar cf priv/jinterface-stdlib.jar -C ebin ."}]}.
